:root {
  --accent: rgb(184,0,0);
  --accent-alpha-70: rgba(164,167,121,.7);
  --accent-alpha-20: rgba(164,167,121,.2);

  --background: #000000;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
