:root, [data-bs-theme=light] {
  --bs-primary: #b80000;
  --bs-primary-rgb: 184,0,0;
  --bs-primary-text-emphasis: #4A0000;
  --bs-primary-bg-subtle: #F1CCCC;
  --bs-primary-border-subtle: #E39999;
  --bs-secondary: #474f53;
  --bs-secondary-rgb: 71,79,83;
  --bs-secondary-text-emphasis: #1C2021;
  --bs-secondary-bg-subtle: #DADCDD;
  --bs-secondary-border-subtle: #B5B9BA;
  --bs-success: #f4cea0;
  --bs-success-rgb: 244,206,160;
  --bs-success-text-emphasis: #625240;
  --bs-success-bg-subtle: #FDF5EC;
  --bs-success-border-subtle: #FBEBD9;
  --bs-info: #a49379;
  --bs-info-rgb: 164,147,121;
  --bs-info-text-emphasis: #423B30;
  --bs-info-bg-subtle: #EDE9E4;
  --bs-info-border-subtle: #DBD4C9;
  --bs-danger: #f50c0c;
  --bs-danger-rgb: 245,12,12;
  --bs-danger-text-emphasis: #620505;
  --bs-danger-bg-subtle: #FDCECE;
  --bs-danger-border-subtle: #FB9E9E;
  --bs-body-color: #dbdfe3;
  --bs-body-color-rgb: 219,223,227;
  --bs-secondary-color: rgba(219,223,227,0.75);
  --bs-secondary-color-rgb: 219,223,227,0.75;
  --bs-tertiary-color: rgba(219,223,227,0.5);
  --bs-tertiary-color-rgb: 219,223,227,0.5;
  --bs-body-bg: #101010;
  --bs-body-bg-rgb: 16,16,16;
  --bs-body-font-family: Hack;
  --bs-border-color: #495057;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b80000;
  --bs-btn-border-color: #b80000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9C0000;
  --bs-btn-hover-border-color: #930000;
  --bs-btn-focus-shadow-rgb: 244,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #930000;
  --bs-btn-active-border-color: #8A0000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b80000;
  --bs-btn-disabled-border-color: #b80000;
}

.btn-outline-primary {
  --bs-btn-color: #b80000;
  --bs-btn-border-color: #b80000;
  --bs-btn-focus-shadow-rgb: 184,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b80000;
  --bs-btn-hover-border-color: #b80000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b80000;
  --bs-btn-active-border-color: #b80000;
  --bs-btn-disabled-color: #b80000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b80000;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #474f53;
  --bs-btn-border-color: #474f53;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3C4347;
  --bs-btn-hover-border-color: #393F42;
  --bs-btn-focus-shadow-rgb: 227,229,229;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #393F42;
  --bs-btn-active-border-color: #353B3E;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #474f53;
  --bs-btn-disabled-border-color: #474f53;
}

.btn-outline-secondary {
  --bs-btn-color: #474f53;
  --bs-btn-border-color: #474f53;
  --bs-btn-focus-shadow-rgb: 71,79,83;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #474f53;
  --bs-btn-hover-border-color: #474f53;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #474f53;
  --bs-btn-active-border-color: #474f53;
  --bs-btn-disabled-color: #474f53;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #474f53;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f4cea0;
  --bs-btn-border-color: #f4cea0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F6D5AE;
  --bs-btn-hover-border-color: #F5D3AA;
  --bs-btn-focus-shadow-rgb: 37,31,24;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F6D8B3;
  --bs-btn-active-border-color: #F5D3AA;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f4cea0;
  --bs-btn-disabled-border-color: #f4cea0;
}

.btn-outline-success {
  --bs-btn-color: #f4cea0;
  --bs-btn-border-color: #f4cea0;
  --bs-btn-focus-shadow-rgb: 244,206,160;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f4cea0;
  --bs-btn-hover-border-color: #f4cea0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f4cea0;
  --bs-btn-active-border-color: #f4cea0;
  --bs-btn-disabled-color: #f4cea0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f4cea0;
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: #a49379;
  --bs-btn-border-color: #a49379;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #B2A38D;
  --bs-btn-hover-border-color: #AD9E86;
  --bs-btn-focus-shadow-rgb: 25,22,18;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B6A994;
  --bs-btn-active-border-color: #AD9E86;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #a49379;
  --bs-btn-disabled-border-color: #a49379;
}

.btn-outline-info {
  --bs-btn-color: #a49379;
  --bs-btn-border-color: #a49379;
  --bs-btn-focus-shadow-rgb: 164,147,121;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #a49379;
  --bs-btn-hover-border-color: #a49379;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #a49379;
  --bs-btn-active-border-color: #a49379;
  --bs-btn-disabled-color: #a49379;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #a49379;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f50c0c;
  --bs-btn-border-color: #f50c0c;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F73030;
  --bs-btn-hover-border-color: #F62424;
  --bs-btn-focus-shadow-rgb: 37,2,2;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F73D3D;
  --bs-btn-active-border-color: #F62424;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f50c0c;
  --bs-btn-disabled-border-color: #f50c0c;
}

.btn-outline-danger {
  --bs-btn-color: #f50c0c;
  --bs-btn-border-color: #f50c0c;
  --bs-btn-focus-shadow-rgb: 245,12,12;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f50c0c;
  --bs-btn-hover-border-color: #f50c0c;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f50c0c;
  --bs-btn-active-border-color: #f50c0c;
  --bs-btn-disabled-color: #f50c0c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f50c0c;
}

[data-bs-theme=dark] {
  --bs-primary: #b80000;
  --bs-primary-rgb: 184,0,0;
  --bs-primary-text-emphasis: #D46666;
  --bs-primary-bg-subtle: #250000;
  --bs-primary-border-subtle: #6E0000;
  --bs-secondary: #474f53;
  --bs-secondary-rgb: 71,79,83;
  --bs-secondary-text-emphasis: #919598;
  --bs-secondary-bg-subtle: #0E1011;
  --bs-secondary-border-subtle: #2B2F32;
  --bs-success: #f4cea0;
  --bs-success-rgb: 244,206,160;
  --bs-success-text-emphasis: #F8E2C6;
  --bs-success-bg-subtle: #312920;
  --bs-success-border-subtle: #927C60;
  --bs-info: #a49379;
  --bs-info-rgb: 164,147,121;
  --bs-info-text-emphasis: #C8BEAF;
  --bs-info-bg-subtle: #211D18;
  --bs-info-border-subtle: #625849;
  --bs-danger: #f50c0c;
  --bs-danger-rgb: 245,12,12;
  --bs-danger-text-emphasis: #F96D6D;
  --bs-danger-bg-subtle: #310202;
  --bs-danger-border-subtle: #930707;
  --bs-body-bg: #101010;
  --bs-body-bg-rgb: 16,16,16;
  --bs-body-font-family: Hack;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-hover-color-rgb: 139,185,254;
  --bs-border-color: #495057;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b80000;
  --bs-btn-border-color: #b80000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #9C0000;
  --bs-btn-hover-border-color: #930000;
  --bs-btn-focus-shadow-rgb: 244,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #930000;
  --bs-btn-active-border-color: #8A0000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b80000;
  --bs-btn-disabled-border-color: #b80000;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #b80000;
  --bs-btn-border-color: #b80000;
  --bs-btn-focus-shadow-rgb: 184,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b80000;
  --bs-btn-hover-border-color: #b80000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b80000;
  --bs-btn-active-border-color: #b80000;
  --bs-btn-disabled-color: #b80000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b80000;
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: #474f53;
  --bs-btn-border-color: #474f53;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3C4347;
  --bs-btn-hover-border-color: #393F42;
  --bs-btn-focus-shadow-rgb: 227,229,229;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #393F42;
  --bs-btn-active-border-color: #353B3E;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #474f53;
  --bs-btn-disabled-border-color: #474f53;
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: #474f53;
  --bs-btn-border-color: #474f53;
  --bs-btn-focus-shadow-rgb: 71,79,83;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #474f53;
  --bs-btn-hover-border-color: #474f53;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #474f53;
  --bs-btn-active-border-color: #474f53;
  --bs-btn-disabled-color: #474f53;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #474f53;
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f4cea0;
  --bs-btn-border-color: #f4cea0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F6D5AE;
  --bs-btn-hover-border-color: #F5D3AA;
  --bs-btn-focus-shadow-rgb: 37,31,24;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F6D8B3;
  --bs-btn-active-border-color: #F5D3AA;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f4cea0;
  --bs-btn-disabled-border-color: #f4cea0;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #f4cea0;
  --bs-btn-border-color: #f4cea0;
  --bs-btn-focus-shadow-rgb: 244,206,160;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f4cea0;
  --bs-btn-hover-border-color: #f4cea0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f4cea0;
  --bs-btn-active-border-color: #f4cea0;
  --bs-btn-disabled-color: #f4cea0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f4cea0;
}

[data-bs-theme=dark] .btn-info, .btn-info[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #a49379;
  --bs-btn-border-color: #a49379;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #B2A38D;
  --bs-btn-hover-border-color: #AD9E86;
  --bs-btn-focus-shadow-rgb: 25,22,18;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B6A994;
  --bs-btn-active-border-color: #AD9E86;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #a49379;
  --bs-btn-disabled-border-color: #a49379;
}

[data-bs-theme=dark] .btn-outline-info, .btn-outline-info[data-bs-theme=dark] {
  --bs-btn-color: #a49379;
  --bs-btn-border-color: #a49379;
  --bs-btn-focus-shadow-rgb: 164,147,121;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #a49379;
  --bs-btn-hover-border-color: #a49379;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #a49379;
  --bs-btn-active-border-color: #a49379;
  --bs-btn-disabled-color: #a49379;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #a49379;
}

[data-bs-theme=dark] .btn-danger, .btn-danger[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f50c0c;
  --bs-btn-border-color: #f50c0c;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F73030;
  --bs-btn-hover-border-color: #F62424;
  --bs-btn-focus-shadow-rgb: 37,2,2;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F73D3D;
  --bs-btn-active-border-color: #F62424;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f50c0c;
  --bs-btn-disabled-border-color: #f50c0c;
}

[data-bs-theme=dark] .btn-outline-danger, .btn-outline-danger[data-bs-theme=dark] {
  --bs-btn-color: #f50c0c;
  --bs-btn-border-color: #f50c0c;
  --bs-btn-focus-shadow-rgb: 245,12,12;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f50c0c;
  --bs-btn-hover-border-color: #f50c0c;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f50c0c;
  --bs-btn-active-border-color: #f50c0c;
  --bs-btn-disabled-color: #f50c0c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f50c0c;
}

